In [1]:
import pandas as pd

In [2]:
df_income = pd.read_csv('/Users/jasimrashid/Projects/DS-Unit-6-Labs/dbo-incomes.csv',encoding='latin-1')

In [3]:
df_income = df_income[df_income['ADM0_NAME']=='Rwanda']
df_income.head()

,ADM0_NAME,ADM1_NAME,ADM2_NAME,Income_Category,Income_SubCategory,Income_Month,Income_Year,IncomeValue,Indicator_Type,Income_DataSource
3244,Rwanda,#Butare,#Huye,Agro - Crop&Livestock,0.0,4,2012,3.422908,Baseline,WFP VAM Comprehensive Food Security and Vulner...
3245,Rwanda,#Butare,#Huye,Agro - Food&Cash Crop,0.0,4,2012,44.244612,Baseline,WFP VAM Comprehensive Food Security and Vulner...
3246,Rwanda,#Butare,#Huye,AgroCmrc - Trade/Wholesale,0.0,4,2012,3.627016,Baseline,WFP VAM Comprehensive Food Security and Vulner...
3247,Rwanda,#Butare,#Huye,Commerce - Business/Trading,0.0,4,2012,6.172614,Baseline,WFP VAM Comprehensive Food Security and Vulner...
3248,Rwanda,#Butare,#Huye,Commerce - Petty Trade,0.0,4,2012,5.291680,Baseline,WFP VAM Comprehensive Food Security and Vulner...

In [4]:
df_income.shape

(244, 10)

In [5]:
df_income.describe(include='all')

,ADM0_NAME,ADM1_NAME,ADM2_NAME,Income_Category,Income_SubCategory,Income_Month,Income_Year,IncomeValue,Indicator_Type,Income_DataSource
count,244,236,236,244,244.0,244.0,244.0,244.000000,244,244
unique,1,10,30,8,NaN,NaN,NaN,NaN,1,1
top,Rwanda,$South/Amajyepfo,$Nyaruguru,Commerce - Business/Trading,NaN,NaN,NaN,NaN,Baseline,WFP VAM Comprehensive Food Security and Vulner...
freq,244,54,8,31,NaN,NaN,NaN,NaN,244,244
mean,NaN,NaN,NaN,NaN,0.0,4.0,2012.0,12.704918,NaN,NaN
std,NaN,NaN,NaN,NaN,0.0,0.0,0.0,17.006829,NaN,NaN
min,NaN,NaN,NaN,NaN,0.0,4.0,2012.0,0.277943,NaN,NaN
25%,NaN,NaN,NaN,NaN,0.0,4.0,2012.0,1.858285,NaN,NaN
50%,NaN,NaN,NaN,NaN,0.0,4.0,2012.0,4.415104,NaN,NaN
75%,NaN,NaN,NaN,NaN,0.0,4.0,2012.0,16.160520,NaN,NaN
max,NaN,NaN,NaN,NaN,0.0,4.0,2012.0,78.407600,NaN,NaN

In [6]:
df_income.columns

Index(['ADM0_NAME', 'ADM1_NAME', 'ADM2_NAME', 'Income_Category',
       'Income_SubCategory', 'Income_Month', 'Income_Year', 'IncomeValue',
       'Indicator_Type', 'Income_DataSource'],
      dtype='object')

In [7]:
df_income = df_income.drop(columns=['ADM0_NAME','Income_SubCategory','Income_Month','Income_Year','Indicator_Type','Income_DataSource'])
df_income

     ADM1_NAME ADM2_NAME                 Income_Category  IncomeValue
3244   #Butare     #Huye           Agro - Crop&Livestock     3.422908
3245   #Butare     #Huye           Agro - Food&Cash Crop    44.244612
3246   #Butare     #Huye      AgroCmrc - Trade/Wholesale     3.627016
3247   #Butare     #Huye     Commerce - Business/Trading     6.172614
3248   #Butare     #Huye          Commerce - Petty Trade     5.291680
...        ...       ...                             ...          ...
3483       NaN       NaN     Commerce - Business/Trading     4.303592
3484       NaN       NaN          Commerce - Petty Trade     3.182013
3485       NaN       NaN         Labor - Artisan/Skilled     1.977404
3486       NaN       NaN  Labor - Daily/Unskilled - Agro    21.757589
3487       NaN       NaN                           Other     3.965522

[244 rows x 4 columns]

In [8]:
df_income.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 244 entries, 3244 to 3487
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ADM1_NAME        236 non-null    object
 1   ADM2_NAME        236 non-null    object
 2   Income_Category  244 non-null    object
 3   IncomeValue      244 non-null    float64
dtypes: float64(1), object(3)
memory usage: 9.5+ KB

In [9]:
df_income.ADM1_NAME.unique()

array(['#Butare', '#Gisenyi', '#Kibungo', '#Kibuye', '#Umutara',
       '$East/Iburasirazuba', '$North/Amajyaruguru', '$South/Amajyepfo',
       '$West/Iburengerazuba', 'Kigali City/Umujyi wa Kigali', nan],
      dtype=object)

In [10]:
df_income.Income_Category.unique()

array(['Agro - Crop&Livestock', 'Agro - Food&Cash Crop',
       'AgroCmrc - Trade/Wholesale', 'Commerce - Business/Trading',
       'Commerce - Petty Trade', 'Labor - Artisan/Skilled',
       'Labor - Daily/Unskilled - Agro', 'Other'], dtype=object)

In [13]:
# df_income.Income_SubCategory.unique()

In [14]:
# df_income.Income_DataSource.unique()

In [15]:
df_income

     ADM1_NAME ADM2_NAME                 Income_Category  IncomeValue
3244   #Butare     #Huye           Agro - Crop&Livestock     3.422908
3245   #Butare     #Huye           Agro - Food&Cash Crop    44.244612
3246   #Butare     #Huye      AgroCmrc - Trade/Wholesale     3.627016
3247   #Butare     #Huye     Commerce - Business/Trading     6.172614
3248   #Butare     #Huye          Commerce - Petty Trade     5.291680
...        ...       ...                             ...          ...
3483       NaN       NaN     Commerce - Business/Trading     4.303592
3484       NaN       NaN          Commerce - Petty Trade     3.182013
3485       NaN       NaN         Labor - Artisan/Skilled     1.977404
3486       NaN       NaN  Labor - Daily/Unskilled - Agro    21.757589
3487       NaN       NaN                           Other     3.965522

[244 rows x 4 columns]

In [16]:
df_income_pivot_1 = pd.pivot_table(df_income,values='IncomeValue',index=['ADM2_NAME'],columns='Income_Category').reset_index()
df_income_pivot_1

Income_Category,ADM2_NAME,Agro - Crop&Livestock,Agro - Food&Cash Crop,AgroCmrc - Trade/Wholesale,Commerce - Business/Trading,Commerce - Petty Trade,Labor - Artisan/Skilled,Labor - Daily/Unskilled - Agro,Other
0,#Huye,3.422908,44.244612,3.627016,6.172614,5.291680,4.064223,31.036493,2.140454
1,#Kayonza,4.672437,50.542219,5.692345,1.190252,3.229973,1.996367,23.586532,9.089875
2,#Nyagatare,18.330118,26.289695,19.712840,2.480297,2.759680,1.138148,27.338872,1.950351
3,#Rubavu,5.559486,22.548419,13.573917,4.623371,5.332477,5.042172,38.793541,4.526616
4,#Rutsiro,13.870090,44.533178,2.752274,0.388700,2.106053,2.345845,32.841147,1.162714
5,$Bugesera,9.246055,70.965856,0.788217,1.907635,NaN,0.692850,13.088132,3.311254
6,$Burera,15.180629,66.311067,3.984246,0.401235,0.868040,1.270421,9.648382,2.335979
7,$Gakenke,19.093477,59.855715,2.002994,1.709742,0.398441,1.705897,12.121886,3.111848
8,$Gasabo,7.471643,15.159722,1.115969,18.803093,7.638769,1.814693,37.457538,10.538573
9,$Gatsibo,9.974678,65.925489,1.299100,1.091147,1.037016,2.620292,16.202872,1.849407
10,$Gicumbi,22.501474,46.871493,1.978271,4.101503,2.369818,NaN,20.538930,1.638511
11,$Gisagara,6.981939,51.040670,2.095012,0.792274,1.219079,NaN,36.150250,1.720775
12,$Kamonyi,14.528755,48.020059,6.001212,1.982491,1.861244,0.314027,24.993285,2.298926
13,$Karongi,29.617743,46.615226,2.288559,1.562365,1.964331,0.784986,13.752003,3.414786
14,$Kirehe,28.872728,55.133631,3.320417,1.264830,0.779173,2.044424,5.883126,2.701671
15,$Muhanga,7.317987,78.407600,1.629715,0.403797,0.445656,0.427466,7.847130,3.520649
16,$Musanze,11.765617,31.760800,3.244478,6.749546,5.547789,1.342201,32.732041,6.857529
17,$Ngoma,8.259953,64.311559,1.302461,2.971028,4.820994,1.496522,14.870143,1.967341
18,$Ngororero,3.507234,68.391859,1.565257,1.278439,1.218128,0.451858,22.149859,1.437365
19,$Nyabihu,1.007911,32.150263,10.046850,2.543886,4.776823,1.639272,44.900651,2.934344
20,$Nyamagabe,13.766597,49.230771,4.215963,1.920617,0.797910,6.172747,21.884104,2.011291
21,$Nyamasheke,38.593026,34.160227,1.681093,1.831012,1.203293,2.024545,20.228862,0.277943
22,$Nyanza,5.875105,67.976362,3.135916,0.570092,1.390911,1.777566,16.146403,3.127646
23,$Nyaruguru,14.615647,59.534472,3.258639,1.226681,0.881848,2.525330,10.673226,7.284157
24,$Ruhango,23.036100,52.747524,4.075744,3.838113,NaN,0.806547,15.144472,0.351500
25,$Rulindo,16.651847,35.028587,0.615781,2.641860,3.079436,1.624357,32.271570,8.086562
26,$Rusizi,8.716393,66.023214,3.637643,1.731830,3.754816,1.315136,12.790276,2.030692
27,$Rwamagana,19.287699,42.965480,4.154076,3.728315,5.408280,0.653241,22.048578,1.754331
28,Kicukiro,0.893302,5.718570,4.976356,35.917290,10.316451,4.828594,22.518460,14.830978
29,Nyarugenge,0.455348,15.325222,4.528377,18.330348,20.759084,12.159040,12.860004,15.582577

In [22]:
df_income_pivot_2 = pd.pivot_table(df_income,values='IncomeValue',index=['ADM1_NAME','ADM2_NAME'],columns='Income_Category').reset_index()
df_income_pivot_2

Income_Category,ADM1_NAME,ADM2_NAME,Agro - Crop&Livestock,Agro - Food&Cash Crop,AgroCmrc - Trade/Wholesale,Commerce - Business/Trading,Commerce - Petty Trade,Labor - Artisan/Skilled,Labor - Daily/Unskilled - Agro,Other
0,#Butare,#Huye,3.422908,44.244612,3.627016,6.172614,5.291680,4.064223,31.036493,2.140454
1,#Gisenyi,#Rubavu,5.559486,22.548419,13.573917,4.623371,5.332477,5.042172,38.793541,4.526616
2,#Kibungo,#Kayonza,4.672437,50.542219,5.692345,1.190252,3.229973,1.996367,23.586532,9.089875
3,#Kibuye,#Rutsiro,13.870090,44.533178,2.752274,0.388700,2.106053,2.345845,32.841147,1.162714
4,#Umutara,#Nyagatare,18.330118,26.289695,19.712840,2.480297,2.759680,1.138148,27.338872,1.950351
5,$East/Iburasirazuba,$Bugesera,9.246055,70.965856,0.788217,1.907635,NaN,0.692850,13.088132,3.311254
6,$East/Iburasirazuba,$Gatsibo,9.974678,65.925489,1.299100,1.091147,1.037016,2.620292,16.202872,1.849407
7,$East/Iburasirazuba,$Kirehe,28.872728,55.133631,3.320417,1.264830,0.779173,2.044424,5.883126,2.701671
8,$East/Iburasirazuba,$Ngoma,8.259953,64.311559,1.302461,2.971028,4.820994,1.496522,14.870143,1.967341
9,$East/Iburasirazuba,$Rwamagana,19.287699,42.965480,4.154076,3.728315,5.408280,0.653241,22.048578,1.754331
10,$North/Amajyaruguru,$Burera,15.180629,66.311067,3.984246,0.401235,0.868040,1.270421,9.648382,2.335979
11,$North/Amajyaruguru,$Gakenke,19.093477,59.855715,2.002994,1.709742,0.398441,1.705897,12.121886,3.111848
12,$North/Amajyaruguru,$Gicumbi,22.501474,46.871493,1.978271,4.101503,2.369818,NaN,20.538930,1.638511
13,$North/Amajyaruguru,$Musanze,11.765617,31.760800,3.244478,6.749546,5.547789,1.342201,32.732041,6.857529
14,$North/Amajyaruguru,$Rulindo,16.651847,35.028587,0.615781,2.641860,3.079436,1.624357,32.271570,8.086562
15,$South/Amajyepfo,$Gisagara,6.981939,51.040670,2.095012,0.792274,1.219079,NaN,36.150250,1.720775
16,$South/Amajyepfo,$Kamonyi,14.528755,48.020059,6.001212,1.982491,1.861244,0.314027,24.993285,2.298926
17,$South/Amajyepfo,$Muhanga,7.317987,78.407600,1.629715,0.403797,0.445656,0.427466,7.847130,3.520649
18,$South/Amajyepfo,$Nyamagabe,13.766597,49.230771,4.215963,1.920617,0.797910,6.172747,21.884104,2.011291
19,$South/Amajyepfo,$Nyanza,5.875105,67.976362,3.135916,0.570092,1.390911,1.777566,16.146403,3.127646
20,$South/Amajyepfo,$Nyaruguru,14.615647,59.534472,3.258639,1.226681,0.881848,2.525330,10.673226,7.284157
21,$South/Amajyepfo,$Ruhango,23.036100,52.747524,4.075744,3.838113,NaN,0.806547,15.144472,0.351500
22,$West/Iburengerazuba,$Karongi,29.617743,46.615226,2.288559,1.562365,1.964331,0.784986,13.752003,3.414786
23,$West/Iburengerazuba,$Ngororero,3.507234,68.391859,1.565257,1.278439,1.218128,0.451858,22.149859,1.437365
24,$West/Iburengerazuba,$Nyabihu,1.007911,32.150263,10.046850,2.543886,4.776823,1.639272,44.900651,2.934344
25,$West/Iburengerazuba,$Nyamasheke,38.593026,34.160227,1.681093,1.831012,1.203293,2.024545,20.228862,0.277943
26,$West/Iburengerazuba,$Rusizi,8.716393,66.023214,3.637643,1.731830,3.754816,1.315136,12.790276,2.030692
27,Kigali City/Umujyi wa Kigali,$Gasabo,7.471643,15.159722,1.115969,18.803093,7.638769,1.814693,37.457538,10.538573
28,Kigali City/Umujyi wa Kigali,Kicukiro,0.893302,5.718570,4.976356,35.917290,10.316451,4.828594,22.518460,14.830978
29,Kigali City/Umujyi wa Kigali,Nyarugenge,0.455348,15.325222,4.528377,18.330348,20.759084,12.159040,12.860004,15.582577

In [17]:
df_pivot_income_3 = pd.pivot_table(df_income,values='IncomeValue',index=['ADM1_NAME'],columns='Income_Category').reset_index()
df_pivot_income_3

Income_Category,ADM1_NAME,Agro - Crop&Livestock,Agro - Food&Cash Crop,AgroCmrc - Trade/Wholesale,Commerce - Business/Trading,Commerce - Petty Trade,Labor - Artisan/Skilled,Labor - Daily/Unskilled - Agro,Other
0,#Butare,3.422908,44.244612,3.627016,6.172614,5.291680,4.064223,31.036493,2.140454
1,#Gisenyi,5.559486,22.548419,13.573917,4.623371,5.332477,5.042172,38.793541,4.526616
2,#Kibungo,4.672437,50.542219,5.692345,1.190252,3.229973,1.996367,23.586532,9.089875
3,#Kibuye,13.870090,44.533178,2.752274,0.388700,2.106053,2.345845,32.841147,1.162714
4,#Umutara,18.330118,26.289695,19.712840,2.480297,2.759680,1.138148,27.338872,1.950351
5,$East/Iburasirazuba,15.128222,59.860403,2.172854,2.192591,3.011366,1.501466,14.418570,2.316801
6,$North/Amajyaruguru,17.038609,47.965532,2.365154,3.120777,2.452705,1.485719,21.462562,4.406086
7,$South/Amajyepfo,12.303161,58.136780,3.487457,1.533438,1.099441,2.003947,18.976981,2.902135
8,$West/Iburengerazuba,16.288462,49.468158,3.843880,1.789506,2.583478,1.243159,22.764330,2.019026
9,Kigali City/Umujyi wa Kigali,2.940098,12.067838,3.540234,24.350244,12.904768,6.267442,24.278667,13.650709

In [18]:
df_mapping_districts = pd.read_csv('/Users/jasimrashid/Projects/DS-Unit-6-Labs/mapping_district.csv')
df_mapping_districts.head()

   district_id district  ADM2_ID ADM2_NAME
0           36   Rusizi       27   $Rusizi
1           41  Rulindo       15  $Rulindo
2           45  Gicumbi       13  $Gicumbi
3           28  Kamonyi       17  $Kamonyi
4           12   Gasabo       28   $Gasabo

In [23]:
df_income_pivot_2 = pd.merge(df_income_pivot_2,df_mapping_districts,on='ADM2_NAME').drop(columns=['ADM2_ID'])
df_income_pivot_2.head()

,ADM1_NAME,ADM2_NAME,Agro - Crop&Livestock,Agro - Food&Cash Crop,AgroCmrc - Trade/Wholesale,Commerce - Business/Trading,Commerce - Petty Trade,Labor - Artisan/Skilled,Labor - Daily/Unskilled - Agro,Other,district_id,district
0,#Butare,#Huye,3.422908,44.244612,3.627016,6.172614,5.291680,4.064223,31.036493,2.140454,24,Huye
1,#Gisenyi,#Rubavu,5.559486,22.548419,13.573917,4.623371,5.332477,5.042172,38.793541,4.526616,33,Rubavu
2,#Kibungo,#Kayonza,4.672437,50.542219,5.692345,1.190252,3.229973,1.996367,23.586532,9.089875,54,Kayonza
3,#Kibuye,#Rutsiro,13.870090,44.533178,2.752274,0.388700,2.106053,2.345845,32.841147,1.162714,32,Rutsiro
4,#Umutara,#Nyagatare,18.330118,26.289695,19.712840,2.480297,2.759680,1.138148,27.338872,1.950351,52,Nyagatare

In [24]:
df_income_pivot_2

,ADM1_NAME,ADM2_NAME,Agro - Crop&Livestock,Agro - Food&Cash Crop,AgroCmrc - Trade/Wholesale,Commerce - Business/Trading,Commerce - Petty Trade,Labor - Artisan/Skilled,Labor - Daily/Unskilled - Agro,Other,district_id,district
0,#Butare,#Huye,3.422908,44.244612,3.627016,6.172614,5.291680,4.064223,31.036493,2.140454,24,Huye
1,#Gisenyi,#Rubavu,5.559486,22.548419,13.573917,4.623371,5.332477,5.042172,38.793541,4.526616,33,Rubavu
2,#Kibungo,#Kayonza,4.672437,50.542219,5.692345,1.190252,3.229973,1.996367,23.586532,9.089875,54,Kayonza
3,#Kibuye,#Rutsiro,13.870090,44.533178,2.752274,0.388700,2.106053,2.345845,32.841147,1.162714,32,Rutsiro
4,#Umutara,#Nyagatare,18.330118,26.289695,19.712840,2.480297,2.759680,1.138148,27.338872,1.950351,52,Nyagatare
5,$East/Iburasirazuba,$Bugesera,9.246055,70.965856,0.788217,1.907635,NaN,0.692850,13.088132,3.311254,57,Bugesera
6,$East/Iburasirazuba,$Gatsibo,9.974678,65.925489,1.299100,1.091147,1.037016,2.620292,16.202872,1.849407,53,Gatsibo
7,$East/Iburasirazuba,$Kirehe,28.872728,55.133631,3.320417,1.264830,0.779173,2.044424,5.883126,2.701671,55,Kirehe
8,$East/Iburasirazuba,$Ngoma,8.259953,64.311559,1.302461,2.971028,4.820994,1.496522,14.870143,1.967341,56,Ngoma
9,$East/Iburasirazuba,$Rwamagana,19.287699,42.965480,4.154076,3.728315,5.408280,0.653241,22.048578,1.754331,51,Rwamagana
10,$North/Amajyaruguru,$Burera,15.180629,66.311067,3.984246,0.401235,0.868040,1.270421,9.648382,2.335979,44,Burera
11,$North/Amajyaruguru,$Gakenke,19.093477,59.855715,2.002994,1.709742,0.398441,1.705897,12.121886,3.111848,42,Gakenke
12,$North/Amajyaruguru,$Gicumbi,22.501474,46.871493,1.978271,4.101503,2.369818,NaN,20.538930,1.638511,45,Gicumbi
13,$North/Amajyaruguru,$Musanze,11.765617,31.760800,3.244478,6.749546,5.547789,1.342201,32.732041,6.857529,43,Musanze
14,$North/Amajyaruguru,$Rulindo,16.651847,35.028587,0.615781,2.641860,3.079436,1.624357,32.271570,8.086562,41,Rulindo
15,$South/Amajyepfo,$Gisagara,6.981939,51.040670,2.095012,0.792274,1.219079,NaN,36.150250,1.720775,22,Gisagara
16,$South/Amajyepfo,$Kamonyi,14.528755,48.020059,6.001212,1.982491,1.861244,0.314027,24.993285,2.298926,28,Kamonyi
17,$South/Amajyepfo,$Muhanga,7.317987,78.407600,1.629715,0.403797,0.445656,0.427466,7.847130,3.520649,27,Muhanga
18,$South/Amajyepfo,$Nyamagabe,13.766597,49.230771,4.215963,1.920617,0.797910,6.172747,21.884104,2.011291,25,Nyamagabe
19,$South/Amajyepfo,$Nyanza,5.875105,67.976362,3.135916,0.570092,1.390911,1.777566,16.146403,3.127646,21,Nyanza
20,$South/Amajyepfo,$Nyaruguru,14.615647,59.534472,3.258639,1.226681,0.881848,2.525330,10.673226,7.284157,23,Nyaruguru
21,$South/Amajyepfo,$Ruhango,23.036100,52.747524,4.075744,3.838113,NaN,0.806547,15.144472,0.351500,26,Ruhango
22,$West/Iburengerazuba,$Karongi,29.617743,46.615226,2.288559,1.562365,1.964331,0.784986,13.752003,3.414786,31,Karongi
23,$West/Iburengerazuba,$Ngororero,3.507234,68.391859,1.565257,1.278439,1.218128,0.451858,22.149859,1.437365,35,Ngororero
24,$West/Iburengerazuba,$Nyabihu,1.007911,32.150263,10.046850,2.543886,4.776823,1.639272,44.900651,2.934344,34,Nyabihu
25,$West/Iburengerazuba,$Nyamasheke,38.593026,34.160227,1.681093,1.831012,1.203293,2.024545,20.228862,0.277943,37,Nyamasheke
26,$West/Iburengerazuba,$Rusizi,8.716393,66.023214,3.637643,1.731830,3.754816,1.315136,12.790276,2.030692,36,Rusizi
27,Kigali City/Umujyi wa Kigali,$Gasabo,7.471643,15.159722,1.115969,18.803093,7.638769,1.814693,37.457538,10.538573,12,Gasabo
28,Kigali City/Umujyi wa Kigali,Kicukiro,0.893302,5.718570,4.976356,35.917290,10.316451,4.828594,22.518460,14.830978,13,Kicukiro
29,Kigali City/Umujyi wa Kigali,Nyarugenge,0.455348,15.325222,4.528377,18.330348,20.759084,12.159040,12.860004,15.582577,11,Nyarugenge

In [25]:
df_income_pivot_2.to_csv('income_by_districts.csv')