In [17]:
import csv
import pandas as pd
import scipy.spatial.distance as scidist

In [18]:
df_sdgs = pd.read_csv('/Users/jasimrashid/Projects/DS-Unit-6-Labs/sdgs_subnational_rwa.csv')

df_mdgs = pd.read_csv('/Users/jasimrashid/Projects/DS-Unit-6-Labs/mdgs_subnational_rwa.csv')

df_rbm = pd.read_csv('/Users/jasimrashid/Projects/DS-Unit-6-Labs/rbm_subnational_rwa.csv')

df_mics_indicators = pd.read_csv('/Users/jasimrashid/Projects/DS-Unit-6-Labs/mics-indicators_subnational_rwa.csv')

df_dhs_quickstats = pd.read_csv('/Users/jasimrashid/Projects/DS-Unit-6-Labs/dhs-quickstats_subnational_rwa.csv')

df_dhs_mobile = pd.read_csv('/Users/jasimrashid/Projects/DS-Unit-6-Labs/dhs-mobile_subnational_rwa.csv')

In [19]:
df_sdgs['Dataset'] = 'sgds_2015'
df_mdgs['Dataset'] = 'mdgs_2015'
df_rbm['Dataset'] = 'mds_2015'
df_mics_indicators['Dataset'] = 'mics_indicators_2015'
df_dhs_quickstats['Dataset'] = 'dhs_quickstats_2015'
df_dhs_mobile['Dataset'] = 'dhs_mobile_2015'

In [22]:
df_combined = pd.concat([df_dhs_mobile,df_dhs_quickstats,df_mgds,df_mics_indicators,df_rbm,df_mgds,df_sdgs],axis=0)
df_combined.head()
df_combined = df_combined[df_combined['SurveyYear']=='2015']

In [23]:
df_combined.head()

,ISO3,Location,DataId,Indicator,Value,Precision,DHS_CountryCode,CountryName,SurveyYear,SurveyId,...,IsPreferred,SDRID,RegionId,SurveyYearLabel,SurveyType,DenominatorWeighted,DenominatorUnweighted,CILow,CIHigh,Dataset
3897,RWA,Kigali,1721725,Total fertility rate 15-49,3.6,1,RW,Rwanda,2015,RW2015DHS,...,1.0,FEFRTRWTFR,RWDHS2015442001,2014-15,DHS,NaN,NaN,NaN,NaN,dhs_mobile_2015
3898,RWA,South,1717397,Total fertility rate 15-49,4,1,RW,Rwanda,2015,RW2015DHS,...,1.0,FEFRTRWTFR,RWDHS2015442002,2014-15,DHS,NaN,NaN,NaN,NaN,dhs_mobile_2015
3899,RWA,West,1715994,Total fertility rate 15-49,4.6,1,RW,Rwanda,2015,RW2015DHS,...,1.0,FEFRTRWTFR,RWDHS2015442003,2014-15,DHS,NaN,NaN,NaN,NaN,dhs_mobile_2015
3900,RWA,North,1721706,Total fertility rate 15-49,3.7,1,RW,Rwanda,2015,RW2015DHS,...,1.0,FEFRTRWTFR,RWDHS2015442004,2014-15,DHS,NaN,NaN,NaN,NaN,dhs_mobile_2015
3901,RWA,East,1717384,Total fertility rate 15-49,4.6,1,RW,Rwanda,2015,RW2015DHS,...,1.0,FEFRTRWTFR,RWDHS2015442005,2014-15,DHS,NaN,NaN,NaN,NaN,dhs_mobile_2015

In [25]:
indicators_1 = ['Infant mortality rate',
 'Under-five mortality rate',
 'Women with secondary or higher education',
 'Women who are literate',
 'Households with electricity',
'Gender parity index for net primary school attendance',
 'Gender parity index for net secondary school attendance',
 'Malaria prevalence according to RDT',
 'Net primary school attendance rate: Female',
 'Net primary school attendance rate: Male',
 'Net primary school attendance rate: Total']

In [41]:
df_combined_1 = df_combined[df_combined['Indicator'].isin(indicators_1)][['Location','Indicator','Value','DenominatorWeighted','DenominatorUnweighted']]
df_combined_1['Value'] = df_combined_1['Value'].apply(lambda x: float(x))
df_combined_1.head()

,Location,Indicator,Value,DenominatorWeighted,DenominatorUnweighted
1058,Kigali,Infant mortality rate,29.0,NaN,NaN
1059,South,Infant mortality rate,40.0,NaN,NaN
1060,West,Infant mortality rate,41.0,NaN,NaN
1061,North,Infant mortality rate,38.0,NaN,NaN
1062,East,Infant mortality rate,51.0,NaN,NaN

In [44]:
df_combined_1_pivot = pd.pivot_table(df_combined_1,values='Value',index=['Location'],columns='Indicator').reset_index()
df_combined_1_pivot

Indicator,Location,Gender parity index for net primary school attendance,Gender parity index for net secondary school attendance,Households with electricity,Infant mortality rate,Malaria prevalence according to RDT,Net primary school attendance rate: Female,Net primary school attendance rate: Male,Net primary school attendance rate: Total,Under-five mortality rate,Women who are literate,Women with secondary or higher education
0,East,1.01,1.01,19.5,51.0,15.5,92.6,91.8,92.2,86.0,76.3,18.0
1,Kigali,1.00,0.90,70.7,29.0,1.6,91.9,91.8,91.8,42.0,92.1,43.2
2,North,1.03,1.37,16.2,38.0,0.0,94.2,91.3,92.7,60.0,79.9,21.8
3,South,1.00,1.20,10.8,40.0,11.4,90.7,90.4,90.6,66.0,79.9,20.4
4,West,1.02,1.33,19.5,41.0,2.4,92.8,91.1,92.0,62.0,77.9,21.7

In [45]:
df_combined_1_pivot.columns = ['Location', 'Gender_parity_index_for_net_primary_school_attendance',
       'Gender_parity_index_for_net_secondary_school_attendance',
       'Households with electricity', 'Infant mortality rate',
       'Malaria_prevalence_according_to_RDT',
       'Net_primary_school_attendance_rate_female',
       'Net_primary_school_attendance_rate_male',
       'Net_primary_school_attendance_rate_total',
       'Under_five_mortality_rate', 'Women_who_are_literate',
       'Women_with_secondary_or_higher_education']

In [46]:
df_combined_1_pivot

,Location,Gender_parity_index_for_net_primary_school_attendance,Gender_parity_index_for_net_secondary_school_attendance,Households with electricity,Infant mortality rate,Malaria_prevalence_according_to_RDT,Net_primary_school_attendance_rate_female,Net_primary_school_attendance_rate_male,Net_primary_school_attendance_rate_total,Under_five_mortality_rate,Women_who_are_literate,Women_with_secondary_or_higher_education
0,East,1.01,1.01,19.5,51.0,15.5,92.6,91.8,92.2,86.0,76.3,18.0
1,Kigali,1.00,0.90,70.7,29.0,1.6,91.9,91.8,91.8,42.0,92.1,43.2
2,North,1.03,1.37,16.2,38.0,0.0,94.2,91.3,92.7,60.0,79.9,21.8
3,South,1.00,1.20,10.8,40.0,11.4,90.7,90.4,90.6,66.0,79.9,20.4
4,West,1.02,1.33,19.5,41.0,2.4,92.8,91.1,92.0,62.0,77.9,21.7

In [47]:
df_combined_1_pivot.to_csv('dhs_indicators_1_second_version.csv')