In [47]:
import pandas as pd
import math

In [5]:
df = pd.read_csv("../data/population_rwa_2018-10-01.csv")

In [6]:
df.head()

        Lat        Lon  Population
0 -1.050417  30.463194     8.07593
1 -1.050417  30.463472     8.07593
2 -1.050694  30.463194     8.07593
3 -1.050694  30.464306     8.07593
4 -1.050972  30.445694     8.07593

In [30]:
dfM = pd.read_csv("../data/RWA_men.csv")
dfW = pd.read_csv("../data/RWA_women.csv")

In [24]:
dfM.head()

   latitude  longitude  population
0 -2.119028  29.754861    4.207333
1 -2.108472  29.767361    4.207333
2 -2.120694  29.751528    4.207333
3 -2.120139  29.770972    4.207333
4 -2.135139  29.781528    4.207333

In [15]:
dfW.head(10)

   latitude  longitude  population
0 -2.119028  29.754861     3.77058
1 -2.108472  29.767361     3.77058
2 -2.120694  29.751528     3.77058
3 -2.120139  29.770972     3.77058
4 -2.135139  29.781528     3.77058
5 -2.112917  29.762639     3.77058
6 -2.137639  29.776250     3.77058
7 -2.109861  29.759861     3.77058
8 -2.106528  29.770972     3.77058
9 -2.120972  29.752361     3.77058

In [16]:
dfW['population'].value_counts()

1.727761     12211
3.223526     12141
2.615162      9822
3.641200      9816
4.072516      9128
             ...
17.089407      524
31.528441      366
46.575783      278
29.560144      269
85.126775      166
Name: population, Length: 416, dtype: int64

In [31]:
dfM.rename(columns={'latitude': 'latitude', 'longitude': 'longitude', 'population': 'M_pop'}, inplace=True)

In [32]:
print(dfM)

         latitude  longitude     M_pop
0       -2.119028  29.754861  4.207333
1       -2.108472  29.767361  4.207333
2       -2.120694  29.751528  4.207333
3       -2.120139  29.770972  4.207333
4       -2.135139  29.781528  4.207333
...           ...        ...       ...
1449192 -1.841528  29.334583  4.231526
1449193 -1.805139  29.346250  4.231526
1449194 -1.839861  29.334306  4.231526
1449195 -1.826250  29.314306  4.231526
1449196 -1.797639  29.321806  4.231526

[1449197 rows x 3 columns]

In [33]:
dfM['W_pop'] = dfW['population']

In [34]:
dfM.head()

   latitude  longitude     M_pop    W_pop
0 -2.119028  29.754861  4.207333  3.77058
1 -2.108472  29.767361  4.207333  3.77058
2 -2.120694  29.751528  4.207333  3.77058
3 -2.120139  29.770972  4.207333  3.77058
4 -2.135139  29.781528  4.207333  3.77058

In [36]:
dfM['total_pop'] = dfM['M_pop'] + dfM['W_pop']

In [37]:
dfM.head()

   latitude  longitude     M_pop    W_pop  total_pop
0 -2.119028  29.754861  4.207333  3.77058   7.977913
1 -2.108472  29.767361  4.207333  3.77058   7.977913
2 -2.120694  29.751528  4.207333  3.77058   7.977913
3 -2.120139  29.770972  4.207333  3.77058   7.977913
4 -2.135139  29.781528  4.207333  3.77058   7.977913

In [38]:
dfM.to_csv("RWA_total.csv")

In [49]:
print("Total population: ", dfM['total_pop'].sum()) # total population
print("Ratio of men to women: ", (dfM['M_pop'] / dfM['W_pop']).mean())# men to women

Total population:  11609664.819764996
Ratio of men to women:  0.9274151021212259

In [40]:
total_pop = dfM['total_pop'].sum()

In [43]:
df['Population'].sum() == total_pop # but it kinda does

False

In [ ]:
# will have to find "education age" somewhere else
# we CAN examine 60+

In [ ]:

# pop_table = 1.4 million row
# village_table = village and coords

#scidist

# [1] for element in pop_table:
for x, y in dfM.iterrows():

    # lowest is a distance
    lowest = 0
    # d is the index in the village dataframe that a pop segment belongs to
    d = 0

    # [2] find distance between pop table instance and each village:
    for i, j in dfVillage.iterrows():
        # distance formula
        distance = math.sqrt( ((pop[lat] - vil[lat])**2) + ((pop[lon] - vil[lon])**2))
        # maybe consider the scidist formula instead, might be faster

        # lowest is only 0 if it's the first loop
        if lowest = 0:
            # initial lowest distance
            lowest = distance:
            # this doesn't need to be recalculated
            # just indicating a temporary lowest distance of the 0th index
            d = 0
        # this happens every other time
        else:
            if distance < lowest:
                # set new lowest distance
                lowest = distance
                # increment counter (which represents index)
                d += 1
            else:
                # no lowest distance update
                # increment counter
                d += 1
    
    # create a new column called 'closest_village' and set it equal to the value
    # of vilage_id at the index 'd'
    dfM['closest_village'] = dfVillage[d]