In [3]:
import pandas as pd
import math
import geopy

In [2]:
df = pd.read_csv("../data/cleaning/population_rwa_2018-10-01.csv")

In [3]:
df.head()

        Lat        Lon  Population
0 -1.050417  30.463194     8.07593
1 -1.050417  30.463472     8.07593
2 -1.050694  30.463194     8.07593
3 -1.050694  30.464306     8.07593
4 -1.050972  30.445694     8.07593

In [4]:
dfM = pd.read_csv("../data/cleaning/RWA_men.csv")
dfW = pd.read_csv("../data/cleaning/RWA_women.csv")

In [5]:
dfM.head()

   latitude  longitude  population
0 -2.119028  29.754861    4.207333
1 -2.108472  29.767361    4.207333
2 -2.120694  29.751528    4.207333
3 -2.120139  29.770972    4.207333
4 -2.135139  29.781528    4.207333

In [6]:
dfW.head(10)

   latitude  longitude  population
0 -2.119028  29.754861     3.77058
1 -2.108472  29.767361     3.77058
2 -2.120694  29.751528     3.77058
3 -2.120139  29.770972     3.77058
4 -2.135139  29.781528     3.77058
5 -2.112917  29.762639     3.77058
6 -2.137639  29.776250     3.77058
7 -2.109861  29.759861     3.77058
8 -2.106528  29.770972     3.77058
9 -2.120972  29.752361     3.77058

In [7]:
dfW['population'].value_counts()

1.727761     12211
3.223526     12141
2.615162      9822
3.641200      9816
4.072516      9128
             ...
17.089407      524
31.528441      366
46.575783      278
29.560144      269
85.126775      166
Name: population, Length: 416, dtype: int64

In [8]:
dfM.rename(columns={'latitude': 'latitude', 'longitude': 'longitude', 'population': 'M_pop'}, inplace=True)

In [9]:
print(dfM)

         latitude  longitude     M_pop
0       -2.119028  29.754861  4.207333
1       -2.108472  29.767361  4.207333
2       -2.120694  29.751528  4.207333
3       -2.120139  29.770972  4.207333
4       -2.135139  29.781528  4.207333
...           ...        ...       ...
1449192 -1.841528  29.334583  4.231526
1449193 -1.805139  29.346250  4.231526
1449194 -1.839861  29.334306  4.231526
1449195 -1.826250  29.314306  4.231526
1449196 -1.797639  29.321806  4.231526

[1449197 rows x 3 columns]

In [10]:
dfM['W_pop'] = dfW['population']

In [11]:
dfM.head()

   latitude  longitude     M_pop    W_pop
0 -2.119028  29.754861  4.207333  3.77058
1 -2.108472  29.767361  4.207333  3.77058
2 -2.120694  29.751528  4.207333  3.77058
3 -2.120139  29.770972  4.207333  3.77058
4 -2.135139  29.781528  4.207333  3.77058

In [12]:
dfM['total_pop'] = dfM['M_pop'] + dfM['W_pop']

In [13]:
dfM.head()

   latitude  longitude     M_pop    W_pop  total_pop
0 -2.119028  29.754861  4.207333  3.77058   7.977913
1 -2.108472  29.767361  4.207333  3.77058   7.977913
2 -2.120694  29.751528  4.207333  3.77058   7.977913
3 -2.120139  29.770972  4.207333  3.77058   7.977913
4 -2.135139  29.781528  4.207333  3.77058   7.977913

In [14]:
# create CSV (not needed again)

# dfM.to_csv("RWA_total.csv")

In [15]:
print("Total population: ", dfM['total_pop'].sum()) # total population
print("Ratio of men to women: ", (dfM['M_pop'] / dfM['W_pop']).mean())# men to women

Total population:  11609664.819764996
Ratio of men to women:  0.9274151021232104

In [16]:
total_pop = dfM['total_pop'].sum()

In [17]:
df['Population'].sum() == total_pop # but it kinda does

False

In [18]:
dfV = pd.read_csv('../data/cleaning/Vil_Proj_location.csv')

In [19]:
# will have to find "education age" somewhere else
# we CAN examine 60+

In [4]:

# pop = 1.4 million rows
# vil = 1400 rows

# 1.9 billion loops

# BAD SPACE COMPLEXITY PLS FIX THANK

#scidist
def assign_vil_pop(pop, vil):

    # [1] for element in pop table:
    for i in pop.index:

        # lowest is a distance
        lowest = 0
        # d is the index in the village dataframe that a pop segment belongs to
        d = 0

        # debug
        # print(pop.loc[i, 'latitude'])
    

        # [2] find distance between pop table instance and each village:
        for k in vil.index:
            # distance formula
            distance = math.sqrt( ((pop.loc[i, 'latitude'] - vil.loc[k, 'lat'])**2) + 
                                  ((pop.loc[i, 'longitude'] - vil.loc[k, 'long'])**2))

            # geopy formula:
            # geopy.distance.vincenty(c1, c2).km

            # c1: lat, long -> first coordinates
            # c2: lat, long -> second coordinates

            # c1 = (pop.loc[i, 'latitude']), (pop.loc[i, 'longitude'])
            # c2 = (vil.loc[k, 'lat']), (vil.loc[k, 'long'])
            
            # maybe consider the scidist formula instead, might be faster
            # ####
            # ####
            # useful links in slack from Ryan Herr: 
            # https://lambda-students.slack.com/archives/GM2KHST1T/p1603221302077800?thread_ts=1603220441.076900&cid=GM2KHST1T
            # ####
            # ####

            # [3] lowest is only 0 if it's the first loop
            if lowest == 0:
                # initial lowest distance
                lowest = distance
                # this doesn't need to be recalculated
                # just indicating a temporary lowest distance of the 0th index
                d = 0
            # this happens every other time
            else:
                # [4]
                if distance < lowest:
                    # set new lowest distance
                    lowest = distance
                    # set counter equal to current index
                    d = k
                else:
                    # no lowest distance update
                    # break from loop
                    break
        
        # create a new column called 'closest_village' and set it equal to the value
        # of vilage_id at the index 'd'
        pop.loc[i, 'closest_village'] = vil.loc[d, 'village']

In [74]:
assign_vil_pop(dfM, dfV) # this took way too long to run, going to try to build a smaller dataset 
                         # to test

KeyboardInterrupt:

In [5]:
# make a smaller dataset to test the assign_vil_pop function

dfV_test = dfV[:30]

NameError: name 'dfV' is not defined