In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("../data/B2P_Rwanda_matchedIDs_final_2020-09-24.csv")

In [4]:
df.head()

,Unnamed: 0,country,province,district,district_id,sector,sector_id,cell,cell_id,village,...,community_served_2_id,community_served_3,community_served_3_id,community_served_4,community_served_4_id,community_served_5,community_served_5_id,form,case_safe_id,opportunity_id
0,0,Rwanda,Western Province,Rusizi,36,Giheke,3605,Gakomeye,360502,Buzi,...,36050203,Kagarama,36050204,Gacyamo,36050202,Gasheke,?,Project Assessment - 2018.10.29,a1if1000002e51bAAA,006f100000d1fk1
1,1,Rwanda,Western Province,Rusizi,36,Giheke,3605,Gakomeye,360502,Buzi,...,36050201,Gacyamo - Gasheke,36050202,Kagarama,36050204,Kanoga,?,Project Assessment - 2018.10.29,a1if1000002e51WAAQ,006f100000d1fjw
2,2,Rwanda,Northern Province,Rulindo,41,Buyoga,4104,Gahororo,410403,Gipfundo,...,?,Merezo,?,Minanire,?,Karutongo,?,Project Assessment - 2018.8.11,a1if10000025nz8AAA,006f100000a86I3
3,3,Rwanda,Northern Province,Gicumbi,45,Kageyo,4506,Kabuga-Gatobotobo?,?,?,...,?,?,?,?,?,?,?,Project Assessment - 2018.8.11,a1if10000025nzDAAQ,006f100000cPpL8
4,4,Rwanda,Southern Province,Kamonyi,28,Kayenzi,2803,Kirwa,280304,Gisizi,...,?,?,?,?,?,?,?,Project Assessment - 2018.11.15,a1if1000002gMwRAAU,006f100000eescb

In [5]:
df.columns

Index(['Unnamed: 0', 'country', 'province', 'district', 'district_id',
       'sector', 'sector_id', 'cell', 'cell_id', 'village', 'village_id',
       'name', 'project_code', 'type', 'stage', 'sub_stage',
       'Individuals_directly_served', 'span', 'lat', 'long',
       'community_served_1', 'community_served_1_id', 'community_served_2',
       'community_served_2_id', 'community_served_3', 'community_served_3_id',
       'community_served_4', 'community_served_4_id', 'community_served_5',
       'community_served_5_id', 'form', 'case_safe_id', 'opportunity_id'],
      dtype='object')

In [8]:
df = df.drop(columns=['Unnamed: 0', 'country', 'province', 'district', 'district_id', 'sector', 'sector_id', 'cell', 'cell_id', 'name', 'type', 'stage', 'sub_stage', 'Individuals_directly_served', 'span', 'community_served_1', 'community_served_1_id', 'community_served_2', 'community_served_2_id', 'community_served_3', 'community_served_3_id', 'community_served_4', 'community_served_4_id', 'community_served_5', 'community_served_5_id', 'form', 'case_safe_id', 'opportunity_id'])

In [9]:
df.head()

    village village_id project_code       lat       long
0      Buzi   36050201      1014107 -2.420560  28.966200
1      Buzi   36050201      1014106 -2.424860  28.957260
2  Gipfundo   41040304      1007651 -1.720530  30.081240
3         ?          ?      1012493 -1.655950  30.078840
4    Gisizi   28030402      1014318 -1.870868  29.877686

In [10]:
import numpy as np

In [11]:
df['village'] = df['village'].replace('?', np.nan)
df['village_id'] = df['village_id'].replace('?', np.nan)

In [12]:
df.head()

    village village_id project_code       lat       long
0      Buzi   36050201      1014107 -2.420560  28.966200
1      Buzi   36050201      1014106 -2.424860  28.957260
2  Gipfundo   41040304      1007651 -1.720530  30.081240
3       NaN        NaN      1012493 -1.655950  30.078840
4    Gisizi   28030402      1014318 -1.870868  29.877686

In [13]:
df.to_csv("../data/Vil_Proj_location.csv")